# ignore everything
*
# include only the files needed for quartus to compile the design
!*.qpf
!*.qsf
!*.qsys
!sources/*
!/ip/system/*.ip

# Make sure to remove any backup files
*.BAK*

# Include needed software
!software/*